@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* NAVBAR CSS: */
.custom-navbar {
  margin: 0 15px;
}

.navbar-custom {
  background-color: rgba(0, 0, 0, 0.75) !important;
  height: 120px;
  
}

.navbar-logo {
  margin-left: 50px;
}

.nav-link {
  color: white !important;
  font-weight: bold !important;
}

.nav-link.active {
  color: white !important;
}

.navbar-icons .btn {
  color: white !important;
}

.navbar-icons .btn:hover {
  background-color: black;
  }

.navbar-divider {
  height: 1px;
  background-color: #ddd;
}

.navbar-icons .btn img {
  width: 24px;
  height: 24px;
}
.logged-in {
  color: #ef7655 !important;
}
@media (max-width: 991.98px) {
  .custom-navbar .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.75) !important; 
    padding: 20px; 
    border-radius: 0; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; 
    overflow-y: auto; 
    border: none;
    height: 400px;
  }

  .custom-navbar .navbar-nav {
    width: 100%;
    flex-direction: column;
    text-align: left; 
    margin-top: 100px;
  }

  .custom-navbar .navbar-nav .nav-link {
    color: white !important;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd; 
  }

  .custom-navbar .navbar-nav .nav-link:hover {
    color: #017382 !important;
  }

  .custom-navbar .navbar-nav .nav-link:last-child {
    border-bottom: none; 
  }

  .custom-navbar .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 10000; 
    border: none;
    margin: auto;
    padding-inline: 10px;
    transition: color 0.3s;
    margin-top: 30px;
    background-color: #8b8b8b;    
  }
  
    .custom-navbar .navbar-toggler:focus {
    box-shadow: none; 
  }
  .custom-navbar .navbar-icons {
    display: none; 
  }
}
/*FINISH NAVBAR*/


/* HOME CSS: */

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 20px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 5%;
}

.fontBold {
  font-weight: bold;
  font-size: 120%;
}

.info-item {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .overlay {
    display: none;
  }
}

/* SECCIÓN DE CATEGORIAS EN HOME */

.categories-section {
  padding: 40px 0;
}

.category {
  margin-bottom: 20px;
}

.category-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: white;
  height: 100%;
}

.category-card:hover {
  transform: scale(1.05);
 }

.category-card.hover-celeste:hover {
  background-color: #017382;
}

.category-card.hover-amarillo:hover {
  background-color: #fcb900;
}

.category-card.hover-gris:hover {
  background-color: #9e9e9e;
}

.category-info {
  padding: 15px;
}

.category-info img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.fonts {
  font-weight: 700;
  font-size: x-large;
}
.text-align {
  padding: 15px;
  text-align: left; 
  align-items: flex-start; 
}

@media (max-width: 768px) {
  .category {
    margin-bottom: 20px;
  }
}

/* SECCIÓN DE DATOS EN HOME */

.items-section {
  padding: 40px 0;
}

.item {
  margin-bottom: 20px;
}

.item-card {
  width: 100%; 
  height: 100%; 
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: left; 
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card.hover-celeste:hover {
  background-color: #00d084;
  }

.item-card.hover-amarillo:hover {
  background-color: #fcb900;
}

.item-card.hover-gris:hover {
  background-color: #9e9e9e;
}

.item-info {
  padding: 15px;
}
.item-info:hover {
  padding: 15px;
  color: white;
}

.item-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.item-description {
  color: #666;
}
.item-description:hover {
  color: #fbf9f9;
}

@media (max-width: 768px) {
  .item {
    margin-bottom: 20px;
  }
}

/* AMAZON FINDS SECTION */

.amazon-finds-section {
  background: linear-gradient(135deg, #f56b1f, #131316);
  color: white;
  border: none;
  padding: 100px 20px;
  border-radius: 20px;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.text-container p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

/* CSS DE LOS PRODUCTOS MOSTRADOS */
/* .card-img-top {
  height: 200px;
  object-fit: cover;
} */

/* PRINCIPAL PRODUCT CONTAINER */
.principalProduct-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
}

.principalProduct-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3); 
}

.principalProduct-info {
  position: relative;
  z-index: 1;
  padding: 20px;
  max-width: 500px;
  text-align: right; 
  padding-right: 100px;
}

.principalProduct-price {
  font-size: 18px;
  color: #fff;
  margin: 0;
}

.principalProduct-name {
  font-size: 48px;
  font-weight: bold;
  margin: 10px 0;
}

.principalProduct-description {
  font-size: 18px;
  color: #fff;
  margin: 10px 0;
}

.principalProduct-buyButton {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 10px;
}

/* CONTACT*/
.contact-page {
  font-family: 'Poppins', sans-serif;
}

.contact-header { /*div oscuro con titulo*/
  background-color: #0c0c0c;
  width: 100%;
  height: 430px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.contact-header h2 {
font-size: 3.75rem;
font-family: 'poppins';
font-weight: bold;
color: rgb(255, 255, 255) !important;
}

.contact-info { /*div blanco con info de contacto*/
  margin-top: -120px;
  padding: 30px 0;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-info h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.info-card {
  text-align: center;
  padding: 20px;
}
.info-card p {
  font-size: 1rem;
  margin: auto;
  color: #4d5d6d;
}
.info-icon {
  color: #17a2b8;
  margin-bottom: 10px;
}

.contact-map-form { /*div con mapa y formulario*/
  margin-top: 30px;
  border-radius: 10px;
  padding-top: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
}

.contact-map-form h2 {
  margin-bottom: 5px;
  font-size: 2rem;
  font-family: 'poppins';
  font-weight: bold;
}
.contact-map-form p {
  font-family: 'poppins';
  color: #4d5d6d;
  font-size: 0.9rem;
}
.contact-map-form form {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
}

.contact-map-form form .form-control::placeholder {
  font-size: 0.9rem; 
  color: #abb8c3; 
  
}

.contact-map-form form .btn-primary {
  margin-top: 30px;
  background-color: #f3f5f7;
  border: none;
  transition: background-color 0.3s ease; 
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  height: 45px;
  padding-inline: 15px;
}

.contact-map-form form .btn-primary:hover {
  background-color: #ef7655; 
  color: #ffffff;
  
}
/*FINISHI CONTACT*/

/*PRODUCT CSS*/
.product-header {
  background-color: #0c0c0c;
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-header h2 {
  font-size: 3.75rem;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255) !important;
}

.product-info {
  margin-top: 50px;
  border-radius: 10px;
  padding-top: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.search-sort-container {
  margin-top: 50px;
  margin-bottom: 20px;
  
}
.search-container,
.sort-container {
  max-width: 240px;
}

.search-container input,
.sort-container select {
  max-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #abb8c3;
}

.search-container input::placeholder,
.sort-container select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #abb8c3;
  cursor: pointer;
}

.results {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  color: #abb8c3;
}

.product-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  transition: transform 0.2s;
}

.product-container:hover {
  transform: scale(1.05);
}

.product-image-container {
  position: relative;
  overflow: hidden;
  height: 250px;
  max-width: 100%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;  
}

.product-image {
  max-width: 100%;
  height: 250px;
  object-fit: cover; 
  transition: transform 0.3s;
}

.product-container:hover .product-image {
  transform: scale(1.1);
}

.badge-stock,
.badge-sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #017382;
  color: white;
  padding: 5px;
  border-radius: 3px;
  width: 62.4px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  padding-inline: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  z-index: 1;
}

.product-details {
  flex-grow: 1;
}

.product-details h3 {
  font-size: 1rem;
  font-weight: bold;
  overflow: hidden;
  height: 3rem;
}

.product-details p {
  font-weight: bold;
  font-size: 1rem;
}

.add-to-cart-button {
  background-color: #f3f5f7; 
  transition: background-color 0.3s ease; 
  border: none;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  height: 45px;
  padding-inline: 15px;
}

.add-to-cart-button:hover {
  background-color: #ef7655; 
  color: rgb(255, 255, 255);
}

.old-price {
  color: #7b7b7b;
  text-decoration: line-through;
  font-size: 0.8rem;
}

/* TRENDINGPRODUCTS CSS*/
.trending-title {
  margin-top: 50px;
  font-weight: bold;
  font-size: 2rem;
}

.trending-product {
  text-align: center;
  margin-top: 40px;
}

/*ABOUTUS CSS*/
.about-us-page {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.about-us-header {
  background-color: #0c0c0c;
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-us-header h2 {
  font-size: 3.75rem;
  font-family: "Poppins";
  font-weight: bold;
  color: #fff !important;
  margin-bottom: 8px;
}

.banner-box {
  position: relative;
  height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  margin-top: -120px;
}

.video-container {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 400px;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: auto;
}

.team-info {
  padding: 0;
}

.timeline {
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}

.year {
  flex: 1;
  text-align: left;
  padding-top: 45px !important;
  padding-right: 35px !important;
  padding-bottom: 45px !important;
  padding-left: 35px !important;
  margin-bottom: 120px;
  }

.year:hover {
  background-color: #017382 !important;
}

.year:hover h5,
.year:hover h6,
.year:hover p {
  color: white;
}

.year p {
  font-size: 0.9rem;
  color: #4d5d6d;
  margin-top: 15px;
}

.year h5 {
  margin-top: 0;
  font-size: 1.25rem;
  color: #111518;
  font-weight: bold;
}

.year h6 {
  font-size: 1rem;
  color: #111518;
}

.stats-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}

.stats-container h3 {
  margin-bottom: 100px;
  font-size: 2.5rem;
  font-weight: bold;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

.stat {
  flex: 1;
  min-width: 250px;
  margin: 20px;
  transition: transform 0.2s;
}

.stat:hover {
  transform: scale(1.05);
}

.stat h4 {
  font-size: 2rem;
  color: #007b83;
  font-weight: bold;
  margin-bottom: 40px;
}

.stat p {
  font-size: 0.9rem;
  color: #111518;
  margin-bottom: 80px;
}

.contact-container {
  padding: 20px;
}

.contact-container-about {
  font-size: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.contact-button {
  background-color: #017382;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 60px;
  margin-top: 60px;
}

.contact-button:hover {
  background-color: #ef7655;
}

.technologies {
  margin-top: 120px;
  margin-bottom: 120px;
}

.technologies h3 {
  font-size: 2.5rem;
  margin-bottom: 120px;
  font-weight: bold;
}

.creators-container {
  margin-top: 120px;
}

.creators-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 80px;
}

.creators {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.creator-card {
  text-align: left;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20px;
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.creator-card:hover {
  transform: scale(1.05);
}

.profile-pic {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.creator-card h3 {
  margin-top: 0;
}

.creator-card h6 {
  color: #666;
  margin-top: 10px;
  margin-bottom: 20px;
}

.creator-card p {
  margin: auto;
  margin-bottom: 0.7rem;
  font-size: 0.8rem;
}

.social-icons-aboutus {
  margin-top: auto;
}

.social-icons-aboutus a {
  font-size: 1.5rem;
  color: #000;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s;
  width: 40px;
  height: 40px;
  margin-inline: 15px;
  margin-top: 30px;
  padding-top: 2px;
  padding-left: 9px;
}

.social-icons-aboutus a:hover {
  background-color: #017382;
  color: #fff;
}

.banner-box-anima {
  position: relative;
  height: 650px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.video-container-anima {
  position: absolute;
  width: 100%;
  max-width: 100%;
  height: 650px;
}

@media (max-width: 768px) {
  .about-us-header {
    height: auto;
    padding: 20px;
  }

  .about-us-header h2 {
    font-size: 2.5rem;
  }

  .banner-box {
    height: 200px;
    margin-top: -60px;
    border-radius: 25px;
  }

  .video-container {
    height: 200px;
  }

  .year {
    width: 100%;
    margin-bottom: 60px;
  }

  .stats-container h3 {
    margin-bottom: 50px;
  }

  .stat h4 {
    font-size: 1.5rem;
  }

  .contact-container-about {
    width: 100%;
  }

  .creators {
    flex-direction: column;
  }

  .creator-card {
    width: 90%;
  }

  .technologies h3 {
    font-size: 2rem;
  }
}
/*FINISH ABOUT US CSS*/

/*CARRITO CSS*/
.container-carrito {
  margin-top: 150px;
  margin-top: 2rem !important;
 padding-top: 2rem !important;
}

.carrito-titulo {
  color: #333;
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: bold;
}

.carrito-subtitulo {
  color: #666;
  font-size: 0.99em;
  font-weight: 500;
}

.carrito-subtotal,
.carrito-total {
  color: #666;
  font-size: 1.1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.carrito-info {
  color: #666;
  margin-top: 20px;
  font-size: 0.9em;
}

.table th,
.table td {
  vertical-align: middle;
}

.table th {
  border-top: none;
}

.cantidad-producto {
  display: flex;
  align-items: center;
}

.btn-cantidad,
.btn-eliminar {
  margin: 0 5px;
}

.form-cupon {
  display: flex;
  align-items: center;
}

.input-cupon {
  flex-grow: 1;
  margin-right: 10px;
}

.btn-aplicar-cupon,
.btn-finalizar-compra {
  background-color: #f3f5f7;
  color: #000;
  border: none;
  transition: background-color 0.3s, color 0.3s;
}

.btn-aplicar-cupon:hover,
.btn-finalizar-compra:hover {
  background-color: #ef7655;
  color: #fff;
}

.resumen-detalle,
.delivery-options {
.input-group {
  max-width: 300px;
  margin-bottom: 20px;
}
}

.input-group .form-control,
.input-group .btn {
  border-radius: 0;
}

.input-group .form-control {
  border-right: none;
}

.input-group .btn {
  border-left: none;
}

.border {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.carrito-resumen {
  padding: 20px;
}

.btn-light,
.btn-primary {
  background-color: #f3f5f7 !important;
  border-color: #f3f5f7 !important;
  color: #000 !important;
}

.btn-light:hover,
.btn-primary:hover {
  background-color: #ef7655 !important;
  border-color: #ef7655 !important;
  color: #fff !important;
}

.btn-light:focus,
.btn-primary:focus {
  box-shadow: none !important;
}

input[type="text"] {
  width: 50px;
  text-align: center;
}

.table img {
  margin-right: 10px;
}

.carrito-subtitulo-2 {
  color: #666;
  font-size: 0.9em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.w-100 {
  width: 100% !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

/*  CHECKOUT CSS */

.checkout-container {
  margin-top: 150px;
}

.checkout-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(240, 240, 240, 0.1);
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-chip {
  background-image: url("https://www.creditcards.com/credit-card-news/wp-content/uploads/2020/05/credit-card-chip-04132020-410x237.jpg");
  background-size: cover;
  background-position: center;
  height: 40px;
  width: 50px;
  margin-bottom: 10px;
}
.card-number {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.card-info {
  font-size: 0.9rem;
  color: #555;
}

.card-info-label {
  font-weight: bold;
  margin-right: 5px;
}

.card-info-row {
  margin-bottom: 5px;
}





/* FOOTER CSS: */
.newsletter-section {
  background-color: #181c1f !important;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 295px; 
  font-family: sans-serif;
  margin-top: 40px;
}

.div-subscribe {
  max-width: 600px; 
  margin: auto; 
  font-family: sans-serif;
}

.email-form {
  color: #abb8c3; 
  font-size: 0.9rem;
 font-family: Arial, Helvetica, sans-serif;
 }

.newsletter-section h2 {
  font-weight: bold;
  margin-bottom: 30px;
  font-family: 'poppins', sans-serif;
}

.newsletter-section .btn-subscribe {
  background-color: #017382 !important;
  border: none;
  color: white !important;
  margin-left: 20px !important;
  margin: auto;
}

.newsletter-section .btn-subscribe:hover {
  background-color: #ef7655 !important;
}

.footer-main {
  background-color: #000;
}

.footer-main h5 {
  margin-bottom: 24px;
  font-family: 'poppins', sans-serif;
  font-size: 1rem;
}

.footer-logo img {
  width: 200px;
}

.footer-logo .slogan {
  font-size: 0.8rem;
  color: #9e9e9e;
  margin-top: 0px;
  text-align: center;
  font-family: 'poppins',  sans-serif;
}

.social-icons a {
  font-size: 1.5rem;
  margin-right: 15px;
  color: #000; 
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s, color 0.3s; 
  width: 40px; 
  height: 40px; 
  margin-inline: 15px;
  margin-top: 30px;
  padding-top: 2px;
  }

.social-icons a:hover {
  background-color: #017382; 
  color: #fff;
}

.payment-icons img {
  width: 250px;
  margin-top: -11.2px;
}

.custom-margin { 
  margin-bottom: 0.5rem; 
  } /* margen entre los textos del footer */

.link {
  color: #9e9e9e !important;
  cursor: pointer; /* Cambia el cursor a una mano */
  transition: color 0.3s ease;
}
.link:hover {
  color: #017382 !important; 
}

@media (max-width: 992px) {
  .footer-main .text-center-lg-left {
    text-align: center !important;
  }

  .footer-main .text-center-lg-left .my-4 {
    margin-bottom: 20px !important;
  }
  .footer-main h5{
    text-align: center;
  }
}

@media (max-width: 768px) {
  .footer-main .text-center-lg-left {
    text-align: center !important;
  }

  .footer-main .text-center-lg-left .my-4 {
    margin-bottom: 20px !important;
  }

  .footer-main .list-unstyled {
    text-align: center;
  }

  .footer-main .payment-icons {
    text-align: center;
  }
  .footer-main h5{
    text-align: center;
  }
}

@media (max-width: 576px) {
  .footer-main .social-icons {
    text-align: center;
  }

  .footer-main .social-icons a {
    margin-right: 10px;
  }

  .footer-main .payment-icons {
    text-align: center;
  }
  .footer-main h5{
    text-align: center;
  }
  .newsletter-section {
    height: auto;
    padding: 20px;
    text-align: center;
  }

  .newsletter-section .div-subscribe {
    max-width: 100%;
  }

  .newsletter-section .email-form {
    width: 100%;
    margin-bottom: 10px;
  }

  .newsletter-section .btn-subscribe {
    width: 100%;
    margin-left: 0 !important;
  }
}

/*FINISHI FOOTER*/