/* NAVBAR CSS: */

/* ABOUT US CSS: */
.about-us {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.about-us-header {
  text-align: center;
  margin-bottom: 20px;
}

.about-us-content {
  line-height: 1.6;
}

.about-us-content h2 {
  margin-top: 20px;
  color: #333;
}

.about-us-content p,
.about-us-content ul {
  margin: 10px 0;
}

.about-us-footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}
/*Finish AboutUs.css*/

/* HOME CSS: */

.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px 20px;
  text-align: center;
  border-radius: 15px;
  margin-bottom: 5%;
}

.fontBold {
  font-weight: bold;
  font-size: 120%;
}

.info-item {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .overlay {
    display: none;
  }
}

/* SECCIÓN DE CATEGORIAS EN HOME */

.categories-section {
  padding: 40px 0;
}

.category {
  margin-bottom: 20px;
}

.category-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: white;
  height: 100%;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card.hover-celeste:hover {
  background-color: #00bfff;
}

.category-card.hover-amarillo:hover {
  background-color: #ffeb3b;
}

.category-card.hover-gris:hover {
  background-color: #9e9e9e;
}

.category-info {
  padding: 15px;
}

.category-info img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}
.fonts {
  font-weight: 700;
  font-size: x-large;
}
.text-align {
  padding: 15px;
  text-align: left; /* Alinea el texto a la izquierda */
  align-items: flex-start; /* Alinea los elementos al inicio (por si hay más contenido) */
}

@media (max-width: 768px) {
  .category {
    margin-bottom: 20px;
  }
}

/* SECCIÓN DE DATOS EN HOME */

.items-section {
  padding: 40px 0;
}

.item {
  margin-bottom: 20px;
}

.item-card {
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card.hover-celeste:hover {
  background-color: #00bfff;
}

.item-card.hover-amarillo:hover {
  background-color: #ffeb3b;
}

.item-card.hover-gris:hover {
  background-color: #9e9e9e;
}

.item-info {
  padding: 15px;
}

@media (max-width: 768px) {
  .item {
    margin-bottom: 20px;
  }
}

/* AMAZON FINDS SECTION */

.amazon-finds-section {
  background: linear-gradient(135deg, #f56b1f, #131316);
  color: white;
  border: none;
  padding: 100px 20px;
  border-radius: 20px;
}

.padding {
  padding-left: 100px;
  padding-right: 100px;
}

.text-container h1 {
  font-size: 3rem;
  font-weight: bold;
}

.text-container p {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
}

/* CSS DE LOS PRODUCTOS MOSTRADOS */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* FOOTER CSS: */
